.justify-content-between{
  cursor:pointer;
}

h1 {
  text-align:center;
}
.install{
  color: white;
  font-size: 1.3rem;
  border-radius: 15px;
  display: inline-block;
}
.menu{
  font-family: monospace;
  font-size: 1.4rem;
}
.menu div{
  border-radius: 30px;
}
.lib-name{
  font-style: italic;
  text-decoration: underline;
  font-size: 1.3rem;
}
.lib-name a{
  text-decoration: none;
  color: black;
}
.lib-name a:hover{
  text-decoration: none;
  color: gray;
}
.plusIcon {
  cursor:pointer
}
.addInput{
  display: flex;
  justify-content: center;
}
.github-corner:hover .octo-arm{
  animation:octocat-wave 560ms ease-in-out
}@keyframes octocat-wave{
  0 %, 100 % { transform: rotate(0) }
  20%,60%{transform:rotate(-25deg)}
  40%,80%{transform:rotate(10deg)}
}@media (max-width:500px){
  .github - corner:hover .octo-arm{animation:none}
  .github-corner 
  .octo-arm{animation:octocat-wave 560ms ease-in-out}
}

